body{
    margin: 0;
    background-color: black;
}
.page{
    width: 100%;
    min-height: 100ch;
    background-color: black;
}
.container {
    display: flex;
    width: calc(100% - 40px);
    max-width: 1440px;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
      }
.header{
    width: 100%;
    margin: 0 auto;
    background-color: black;
    box-sizing: border-box;
    height: 60px;
}
.logo{
    background-image: url(./assets/svg/logo.svg);
    background-size: contain;
    width: 45px;
    height: 45px;
    padding: 0 20px;
    background-repeat: no-repeat;  
    transition: 0.3s;
    cursor: pointer;
}
.logo:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(50%)
      contrast(50%);
  }
.nav-list{
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
}
.nav-item{
    color: white;
    font-size: 20px;
    padding: 0 20px;
    line-height: 50px;
    cursor: pointer;
    transition: 0.3s;
}
.nav-item:hover{
    color: burlywood;
}
.main{
    display:flex;
    align-items: center;
    justify-content: center;
    background-image: url(./assets/img/forest.jpg);
    height: calc(100vh - 120px);
    background-size: cover;
}
.btn{
    background-image: url(./assets/svg/play.svg);
    width: 160px;
    height: 160px;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: none;
    transition: 0.3s;
    cursor: pointer;
}
.btn:hover{
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(50%)
    contrast(50%);
}
.pause{
    background-image: url(./assets/svg/pause.svg);
    width: 160px;
    height: 160px;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: none;
    transition: 0.3s;
    cursor: pointer;
}
.pause:hover{
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(50%)
    contrast(50%);
}
.footer{
    display: flex;
    width: 100%;
    height: 50px;
    margin: 0 auto;
    background-color: black;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    font-size: 20px;
}
.github{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 20px;
    gap: 20px;
    color: white;
}
.git-name{
    text-decoration: none;
    color: white;
}

.rs-logo{
    background-image: url(./assets/svg/rss.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 135px;
    height: 50px;
    transition: 0.3s;
    cursor: pointer;
}
.rs-logo:hover{
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(50%)
    contrast(50%);
}
.git-name:hover{
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(50%)
    contrast(50%);
}
.play-btn{
}
.pause-btn{
}
.nav-item.active{
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(50%)
    contrast(50%);
}

