body {
    background: black;
    width: 100%;
    max-width: 100vw;
    min-height: 100vh;
    margin: 0;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.container{
  width: 1440px;
  margin: 0 auto;
  padding: 0 20px; 
  box-sizing: border-box;
}

.section {
  box-sizing: border-box;
}

.header {
    display: flex;
    align-items: center; 
    height: 90px;
    background-image: url('./assets/bg.png');
    background-position: center 0;
    background-repeat: no-repeat;
    overflow-x: hidden;

}

.logo{
    width: 50px;
    height: 40px;
    background-image: url('./assets/svg/logo.svg');
    background-size: contain;
    background-repeat: no-repeat; 
    transition: 0.3s;
}

.logo:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
      contrast(87%);
  }

  .nav{
    margin-left: auto;

  }
  .nav-list{
      display: flex;
      color: #FFFFFF;
      list-style-type: none;
      padding: 0 30px;
  }
  .nav-item{
    margin-left: 30px; 
    color: #FFFFFF;
  }
  .nav-link{
    color: #FFFFFF;
    text-decoration:none;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 50px;  
  }

  .switch-lang{
    color: #FFFFFF;
    text-decoration:none;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 50px;  
    
  }

  .langBtn{
    background: none;
    color: #FFFFFF;
    border: none;
    font-size: 20px;
  }

  .open{
    right: 0%;
    }

  .sun{
    background: none;
    border: none;
    width: 45px;
    height: 45px;
    margin-left: 16px;

    }

  .burger.open .burger2:nth-child(1){
   transform: rotate(-45deg) translate(-5px, 6px);
  }

  .burger.open .burger2:nth-child(2){
    opacity: 0;
  }

  .burger.open .burger2:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  .burger{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    user-select: none;
    z-index: 2;
    background: none;
    border: none;
  }

  .burger2{
    width: 80%;
    height: 2px;
    background: #000;
    margin: 3px 0;
    z-index: 15;
    transition: all 0.3s ease-in-out;
    background: white;
    }

  .section-title{
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 80px;
    color: #BDAE82;
    position: relative;
    padding: 0 20px;
    margin-top: 100px;
  }
  
  .wrapper{    
    display: flex;
    justify-content: center;
    width: 50%;
    overflow-x: hidden;
    margin: 0 auto;
  }

  .section-title::before, .section-title::after {
    content:"";
    position: absolute;
    width: 700px;
    height: 2px;
    background:#BDAE82;
    top: 50%;
    transform: translateY(-50%);
  }

  .section-title::after {
    left: 100%;
  }

  .section-title::before {
    right: 100%;
  }

.hero{
background-image: url('./assets/bg.png');
background-position: center -90px;
background-repeat: no-repeat;
height: 820px;
padding-top: 160px;
padding-left: 80px;
}
.hero-title{
font-family: Merriweather;
font-style: normal;
font-weight: bold;
font-size: 60px;
line-height: 120px;
color: #FFFFFF;
}

.hero-text{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    color: #FFFFFF;
    width: 470px;
}
.button{
    color: #bdae82;
    background: none;
    border: 1px solid #bdae82;
    cursor: pointer;
    font-family: inherit;
    width: 220px;
    height: 55px;
    font-size: 20px;
    line-height: 40px;
}
.button--fill{
  background:#bdae82 ;
  color: #000;
}
.button.active{
  color: #000;
  background-color: #bdae82;
}
.skills-items{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.skill-item{
 width: 320px;
 background-position: center top;
 padding: 100px 20px 20px;
}
.skill-item:nth-child(1) {
  background-image: url('./assets/svg/camera.svg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 62px 50px;
  
}
.skill-item:nth-child(2) {
  background-image: url('./assets/svg/video.svg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 62px 50px;
}

.skill-item:nth-child(3) {
  background-image: url('./assets/svg/image.svg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 62px 50px;
}

.skill-item:nth-child(4) {
  background-image: url('./assets/svg/mic.svg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 62px 50px;
}
.skills-text1{
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  color: #FFFFFF;
}
.skills-text2{
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 36px; 
  text-align: center;
  color: #FFFFFF;
}
.portfolio{
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  margin-top: 60px;
}
.portfolio-item {
  width: 450px;
  height: 560px;
}
.portfolio img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.portfolio-btns{
  display: flex;
  justify-content: center;
  gap: 5px;
}
.video-player{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-play{
  background: none;
  border: none;
  position: absolute;
}
.price{
display: flex;
justify-content: center;
gap: 25px;
}

.price-item{
  text-align: center;
  border: 3px solid #BDAE82;
  padding: 42px;
  flex:1;
}
.text-h3{
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 56px;
  text-align: center;
  color: #FFFFFF;
}
.text-price{
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 48px;
  text-align: center;
  color: #BDAE82;
}
.options{
  display: block;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
  list-style-type: none;
  padding-left: 0;
}
.price-item .button{
  margin: 35px auto 0;
}

.contacts{
  background-image: url('./assets/contacts.jpg'); 
  width: 1440px;
  height: 700px;
  padding: 60px 20px 20px 20px; 
  margin-top: 100px;
  
}
.form-field{
  border: 1px solid #BDAE82;
  background: rgba(0, 0, 0, 0.5);
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 40px;
  color: #BDAE82;
  padding: 5px 20px;
  margin-top: 20px;
}

.contact-title{
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 80px;
  color: #BDAE82;
}
.form-field::placeholder{
  font-family: inherit;
  color: #bdae82;
  font-size: 20px;
}

.contact-form{
  display: flex;
  flex-direction: column;
  width: 450px;
  margin-right: 0px;
  margin-left: auto;
}

.contact-form .button{
  margin-top: 35px;
}

.footer{
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 50px;
  color: #FFFFFF;

}
.footer a{
  color: #FFFFFF;
  text-decoration: none;
}
.github{
  display: flex;
  gap: 20px;
}


.soc-link{
  width: 32px;
  height: 32px;
}

.soc-list {
  display: flex;
  gap: 20px;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.soc-list-item {
  display: flex;
  align-items: center;
}

.light-theme{
  background-color: #fff;
  color: #000;
}
.light-theme .button.active {
  color: #FFFFFF;
}

.light-theme .button {
  color: #000;
}
.light-theme .options {
  color: #000;
}
.light-theme .section-title {
  color: #000;
}
.light-theme .skills-text1 {
  color: #000;
}
.light-theme .skills-text2 {
  color: #000;
}
.light-theme .text-h3 {
  color: #000;
}

.light-theme .section-title::before, .light-theme .section-title::after{
  background: #000;
}
